@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .carousel_with_nav_scrollbar::-webkit-scrollbar {
    height: 2px !important;
  }

  .carousel_with_nav_scrollbar::-webkit-scrollbar-track {
    background-color: #c4c4c4;
  }

  .carousel_with_nav_scrollbar::-webkit-scrollbar-thumb {
    background-color: #04ad9e;
    cursor: pointer;
    border-radius: 9999px;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --primary-background: 24 100% 50%;
    --secondary-background: 201 9% 30%;
    --foreground: 0 0% 24%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 7%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 7%;
    --primary: 240, 100%, 99%;
    --primary-foreground: 240, 100%, 99%;
    --secondary: 179, 41%, 45%;
    --secondary-foreground: 179, 41%, 45%;
    --muted: 174 20% 90%;
    --muted-foreground: 0 0% 54%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 85%;
    --input: 0 0% 85%;
    --ring: 0 0% 7%;
    --radius: 0.5rem;

    /* Updated chart colors */
    --chart-1: 330 39% 55%; /* #00af9e */
    --chart-2: 0 0% 7%; /* #111111 */
    --chart-3: 0 0% 100%; /* #ffffff */
    --chart-4: 174 80% 50%; /* Lighter teal */
    --chart-5: 174 60% 70%; /* Even lighter teal */
  }
}

@layer base {
  * {
    @apply border-border;
    list-style: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  /* Chrome, Safari, Edge, Opera */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-track {
    background-color: #c4c4c4;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #04ad9e;
    cursor: pointer;
    outline: 3px #04ad9e solid;
    border-radius: 9999px;
  }

  /*remove auto fill color */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }

  body {
    @apply min-h-[100dvh] w-[100dvw] overflow-x-hidden bg-background text-foreground;
  }
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .landing-bg {
    background-image: url("/images/landing-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    width: 100%;
    aspect-ratio: 2.341;
    position: relative;
    border-radius: 0.9375rem;
  }

  .contact-us-bg {
    background-image: url("/images/contact-us-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    width: 100%;
    aspect-ratio: 2.341;
    position: relative;
    border-radius: 0.9375rem;
  }

  .contact-us-bg-ar {
    background-image: url("/images/contact-us-bg-ar.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    width: 100%;
    aspect-ratio: 2.341;
    position: relative;
    border-radius: 0.9375rem;
  }

  .btn-effects:not(:disabled) {
    @apply cursor-pointer select-none transition-all duration-300 active:bg-secondary-background active:text-white sm:hover:text-secondary-foreground;
  }

  .btn-effects:disabled {
    @apply cursor-not-allowed opacity-70;
  }

  .outline-btn-effects:not(:disabled) {
    @apply cursor-pointer select-none transition-all duration-300 hover:text-foreground active:bg-secondary-background active:text-white;
  }

  .outline-btn-effects:disabled {
    @apply cursor-not-allowed opacity-70;
  }

  .experience-card > div {
    aspect-ratio: 1.28;
  }

  .about-bg {
    background-image: url("/images/lines.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ecf9f8;
    background-position-y: top;

    /* background-position-y: -12.5rem; */
  }

  .input-label {
    @apply text-base font-semibold leading-4;
  }

  .input-label > sup {
    @apply -top-[0.14rem] text-base font-semibold text-[#F70808];
  }

  .input-wrapper {
    @apply flex-center gap-1 rounded-[0.4375rem] border-[0.0625rem] border-white px-2 transition-all duration-300;
  }

  .input-wrapper[aria-invalid="true"] {
    border-color: #f70808;
  }

  .input-wrapper:has(input:focus) {
    @apply border-secondary-foreground;
  }

  .input-wrapper:has(textarea:focus) {
    @apply border-secondary-foreground;
  }

  .input-wrapper > input {
    @apply border-0 bg-transparent px-0 text-base leading-4 placeholder:text-base placeholder:leading-4 placeholder:text-white;
  }

  .input-wrapper > textarea {
    @apply resize-none border-none bg-transparent px-0 text-base leading-4 outline-none placeholder:text-base placeholder:leading-4 placeholder:text-white;
  }

  .blogs::-webkit-scrollbar {
    width: 1px;
  }

  .blogs::-webkit-scrollbar-track {
    background-color: #c4c4c4;
  }

  .blogs::-webkit-scrollbar-thumb {
    background-color: #00aaa1;
    cursor: pointer;
    outline: 2px #00aaa1 solid;
    border-radius: 9999px;
  }
}
